################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.pdb

/simulator/win32
/runtime/win32
/frameworks/cocos2d-x
/frameworks/runtime-src/proj.android
/frameworks/runtime-src/proj.android-studio
/frameworks/runtime-src/proj.ios_mac
/frameworks/runtime-src/proj.linux
/frameworks/runtime-src/proj.tizen
/frameworks/runtime-src/proj.win32/Debug.win32
/frameworks/runtime-src/proj.win32/res
/frameworks/runtime-src/proj.win32/src
/frameworks/runtime-src/proj.win32/zlib1.dll
/frameworks/runtime-src/proj.win32/sqlite3.dll
/frameworks/runtime-src/proj.win32/OpenAL32.dll
/frameworks/runtime-src/proj.win32/lua51.dll
/frameworks/runtime-src/proj.win32/libvorbisfile.dll
/frameworks/runtime-src/proj.win32/libvorbis.dll
/frameworks/runtime-src/proj.win32/libtiff.dll
/frameworks/runtime-src/proj.win32/libogg.dll
/frameworks/runtime-src/proj.win32/libmpg123.dll
/frameworks/runtime-src/proj.win32/libcurl.dll
/frameworks/runtime-src/proj.win32/libcocos2d.dll
/frameworks/runtime-src/proj.win32/lang
/frameworks/runtime-src/proj.win32/iconv.dll
/frameworks/runtime-src/proj.win32/glew32.dll
