################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.pdb

/simulator/win32
/runtime/win32
/frameworks/runtime-src/proj.android
/frameworks/runtime-src/proj.android-studio
/frameworks/runtime-src/proj.ios_mac
/frameworks/runtime-src/proj.linux
/frameworks/runtime-src/proj.tizen
/frameworks/runtime-src/proj.win32/Debug.win32
/frameworks/runtime-src/proj.win32/res
/frameworks/runtime-src/proj.win32/src
/frameworks/runtime-src/proj.win32/zlib1.dll
/frameworks/runtime-src/proj.win32/sqlite3.dll
/frameworks/runtime-src/proj.win32/OpenAL32.dll
/frameworks/runtime-src/proj.win32/lua51.dll
/frameworks/runtime-src/proj.win32/libvorbisfile.dll
/frameworks/runtime-src/proj.win32/libvorbis.dll
/frameworks/runtime-src/proj.win32/libtiff.dll
/frameworks/runtime-src/proj.win32/libogg.dll
/frameworks/runtime-src/proj.win32/libmpg123.dll
/frameworks/runtime-src/proj.win32/libcurl.dll
/frameworks/runtime-src/proj.win32/libcocos2d.dll
/frameworks/runtime-src/proj.win32/lang
/frameworks/runtime-src/proj.win32/iconv.dll
/frameworks/runtime-src/proj.win32/glew32.dll
/frameworks/cocos2d-x/cmake
/frameworks/cocos2d-x/cocos/2d/Debug.win32
/frameworks/cocos2d-x/cocos/platform
/frameworks/cocos2d-x/cocos/renderer
/frameworks/cocos2d-x/cocos/storage
/frameworks/cocos2d-x/cocos/ui
/frameworks/cocos2d-x/cocos/vr
/frameworks/cocos2d-x/docs
/frameworks/cocos2d-x/extensions
/frameworks/cocos2d-x/external
/frameworks/cocos2d-x/licenses
/frameworks/cocos2d-x/plugin
/frameworks/cocos2d-x/tools
/frameworks/cocos2d-x/README.md
/frameworks/cocos2d-x/README.cmake
/frameworks/cocos2d-x/download-deps.py
/frameworks/cocos2d-x/CONTRIBUTING.md
/frameworks/cocos2d-x/CMakeLists.txt
/frameworks/cocos2d-x/CHANGELOG
/frameworks/cocos2d-x/AUTHORS
/frameworks/cocos2d-x/cocos/Android.mk
/frameworks/cocos2d-x/cocos/cc_dummy.c
/frameworks/cocos2d-x/cocos/CMakeLists.txt
/frameworks/cocos2d-x/cocos/cocos2d.cpp
/frameworks/cocos2d-x/cocos/cocos2d.h
/frameworks/cocos2d-x/cocos/physics3d
/frameworks/cocos2d-x/cocos/physics
/frameworks/cocos2d-x/cocos/navmesh
/frameworks/cocos2d-x/cocos/network
/frameworks/cocos2d-x/cocos/math
/frameworks/cocos2d-x/cocos/editor-support
/frameworks/cocos2d-x/cocos/deprecated
/frameworks/cocos2d-x/cocos/audio
/frameworks/cocos2d-x/cocos/3d
/frameworks/cocos2d-x/build
/frameworks/cocos2d-x/cocos/base
/frameworks/cocos2d-x/cocos/2d
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.tizen
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.android
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/script
*.txt
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/auto/api
